<mat-toolbar>
  <div class="header-container">
    <button mat-icon-button (click)="toggleMenu()" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    
    <a routerLink="/" class="brand-name">ARMAN</a>
    
    <nav class="nav-links" [class.show-mobile]="isMenuOpen">
      <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Home
      </a>
      <a mat-button routerLink="/services" routerLinkActive="active">
        Services
      </a>
      <a mat-button routerLink="/stylists" routerLinkActive="active">
        Our Stylists
      </a>
      <a mat-button routerLink="/booking" routerLinkActive="active">
        Book Now
      </a>
      <a mat-button routerLink="/contact" routerLinkActive="active">
        Contact
      </a>
    </nav>
  </div>
</mat-toolbar>
